<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Custom CSS, includes compiled Bootstrap -->
    <link rel="stylesheet" href="http://timfishstatic.s3.us-east-2.amazonaws.com/css/default.css">

    <!-- Bootstrap, popper, jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

    <!-- Custom JS -->
    <script src="http://timfishstatic.s3.us-east-2.amazonaws.com/js/default.js"></script>

    <script type="data" id="target">{{ target }}</script>


    <title id='title'>Hello, world!</title>
  </head>
  <body class="bg-dark">
    {% block navbar %}
    <nav class="navbar navbar-expand-sm navbar-dark">
      <a class="internal-nav navbar-brand text-secondary text-monospace" href="/">tim.fish</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse navbar-nav" id="navbarNav">
        <a class="internal-nav nav-item nav-link" href="/stuff">Stuff<span class="sr-only">(current)</span></a>
        <a class="internal-nav nav-item nav-link" href="/things">Things</a>
        <a class="internal-nav nav-item nav-link" href="/more-stuff">More Stuff</a>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Projects
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{{ projects_url }}">Projects</a>
            <div class="dropdown-divider"></div>
            <a class="internal-nav dropdown-item text-monospace" href="{{ omni_url }}">omni</a>
            <a class="internal-nav dropdown-item text-monospace" href="{{ kepler_url }}">kepler</a>
            <a class="internal-nav dropdown-item text-monospace" href="{{ cam_url }}">cam</a>
            <a class="internal-nav dropdown-item text-monospace" href="{{ twitchy_url }}">twitchy</a>
          </div>
        </li>
        <a class="internal-nav nav-item nav-link disabled" href="#">Disabled</a>
      </div>
    </nav>
    {% endblock %}
    {% block content %}
    <div id="content" class="py-4 px-sm-5">
    </div>
    {% endblock %}
  </body>
</html>
