<div class="container" style="max-width: 1000px">

  <!-- omni -->
  <div class="card border-0 mb-5">
    <img class="card-img-top" src="http://timfishstatic.s3.us-east-2.amazonaws.com/media/splat.png" alt="plat.png">
    <div class="card-body">
      <h5 class="card-title text-monospace bg-dark text-light"><span class="text-secondary">&nbsp;&gt;&nbsp;</span>omnichrome.py<span class="blink">&#9608;</span></h4>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>

  <!-- kepler -->
  <div class="card border-0 my-5">
    <video class="card-img-top" align="center" height="100%" autoplay="true" loop muted>
      <source src="http://timfishstatic.s3.us-east-2.amazonaws.com/media/output.mp4" type="video/mp4">
    </video>
    <div class="card-body">
      <h5 class="card-title text-monospace bg-dark text-light"><span class="text-secondary">&nbsp;&gt;&nbsp;</span>kepler.py<span class="blink">&#9608;</span></h4>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
</div>