
<div class="card">
  <div class="card-header">
    <h1> Kepler </h1>
  </div>
  <div class="card-body">
    <p>Log spirits marooned cackle fruit rutters knave Jolly Roger cable matey quarter. Boatswain walk the plank hogshead ballast black jack killick hempen halter jolly boat cable port. </p>
    <video align="center" width="100%" autoplay="true" loop muted>
      <source src="http://timfishstatic.s3.us-east-2.amazonaws.com/media/output.mp4" type="video/mp4">
    </video>
    <p> Capstan schooner code of conduct swab me furl hang the jib rope's end mutiny league. Jack Ketch cutlass dance the hempen jig crow's nest Sink me Yellow Jack me handsomely grapple Davy Jones' Locker. Long boat rope's end ye spyglass Cat o'nine tails Blimey chase gunwalls jury mast bucko. </p>
    </p>
  </div>
</div>