
<div class="card">
  <div class="card-header">
    <h1> Kepler </h1>
  </div>
  <div class="card-body">
  <p>
    Kepler is a program which simulates what an Earth-based telescope would see when observing the transit of an exoplanet in front of another solar system's star.
  </p>
  <p style="text-align:center; display:block;">
    <a href="https://xkcd.com/1371/">
      <img src="https://imgs.xkcd.com/comics/brightness.png">
    </a>
  </p>
  <p>
    It was designed to generate short, educational animations to help explain the concept to students. I wrote it as an optional, extra-credit assignment for my Introduction to Astronomy class - the assignment was to create an educational graphic for future classes. 
  </p>
  <p>
    Here's a what Jupiter orbiting the Sun in Mercury's orbit would look like:
  </p>
    <video align="center" width="100%" autoplay="true" loop muted>
      <source src="http://timfishstatic.s3.us-east-2.amazonaws.com/media/kepler.mp4" type="video/mp4">
    </video>
    <p>
      The program actually generates four separate, synchronized animations:
      <ol>
        <li>Upper-left: The (exaggerated) color of what each pixel would see</li>
        <li>Upper-right: The orbit, sun, and planet (to scale)</li>
        <li>Center-right: The non-pixelated image of the planet crossing the star</li>
        <li>Bottom: The lightcurve of the observation, with simulated noise.</li>
      </ol>
    </p>
    <p>
      The program is able to handle all the normal parameters for keplerian orbits. Here's Jupiter on a completely unrealistic, inclined, comet-like path in front of the Sun:
    </p>
    <video align="center" width="100%" autoplay="true" loop muted>
      <source src="http://timfishstatic.s3.us-east-2.amazonaws.com/media/kepler2.mp4" type="video/mp4">
    </video>
    <p>
      You can use the tool to show what lunar eclipses look like too, since it is essentially the same phenomenon:
    </p>
    <video align="center" width="100%" autoplay="true" loop muted>
      <source src="http://timfishstatic.s3.us-east-2.amazonaws.com/media/kepler3.mp4" type="video/mp4">
    </video>
    <p>
      I wrote the program in python and used basically only numpy and matplotlib; no libraries were used for orbital or geometry calculations. There's a ton of 2-d and 3-d trig involved, and it got pretty nasty pretty quickly.
    </p>
    <p>
      I'm far too lazy to write up the whole mess that is the geometry involved here, but if you want a taste the code is at <a href="https://github.com/TimEwing/kepler">https://github.com/TimEwing/kepler</a>. There is only one commit, no documentation, and only a few comments; you can only ask so much of a weekend-long school project.
  </div>
</div>