{% extends "base.html" %}
{% block target %}
{% endblock %}
{% block navbar %}
{% endblock %}
{% block content %}
<!-- content of console, to be rendered in char by char -->
<!-- indentation is weird to make sure content gets copied correctly -->
<div id="template-div" style="display: none;">
  <span id="template-newline" class="text-secondary">&nbsp;&gt;&nbsp;</span>
  <span id="template-cursor" class="blink">&#9608;</span>
  <!-- Each element inside the template-content div will be added to #console one at a time in a copy of their element (without the extra classes) -->
  <!-- For data-delay, the text will be rendered with a longer delay -->
  <!-- For typewriter classes, the text will be added one char at a time -->
  <!-- For newline classes, the element gets added to a new parent <p> -->

  <!-- Nested elements are not supported; the first element must have class newline -->
  <div id="template-content">
    <span class="newline" data-delay="2000"></span>
    <span class="typewriter">Hello, world!</span><span data-delay="1500"></span>

    <span class="newline typewriter">I'm Tim Ewing.</span>
    <span data-delay="800"></span> 
    <span class="typewriter"> I'm a Software Engineer with a BS in Engineering Physics from the University of Colorado Boulder.</span>
    <span data-delay="1500"></span>

    <a href="/" class="newline typewriter text-secondary">tim.fish</a>
    <span class="typewriter"> is my website.</span>
    <span data-delay="300"></span>
    <span class="typewriter"> It shows off the projects and work that I do.</span>
    <span data-delay="1000"></span>

    <span class="newline" data-delay="750"></span>
    <span class="typewriter">Click </span>
    <a href="/" class="typewriter">here</a>
    <span class="typewriter"> to continue.</span>

  </div>
</div>

<div class="container" style="height: 100vh;">
  <div class="d-flex align-items-center justify-content-center h-100">
    <div id="console" class="container card border-0 p-0 bg-dark text-light text-monospace" style="max-width: 600px; min-height: 350px;">
    </div>
  </div>
</div>

<div class="fixed-bottom d-flex justify-content-end px-3">
  <a class="btn btn-outline-primary my-3 mx-1" href="#" id="skip-animation">Skip Animation</a>
  <a class="btn btn-outline-primary my-3 mx-1" href="/" id="skip-site">Skip to Site</a>
</div>
{% endblock %}
