---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

$link-color: #55FF55;
$masthead-link-color: #55FF55;

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

// override selection color because black looks horrid
::selection {
  background: #008cff;
}
::-moz-selection {
  background: #008cff;
}

// Custom css for blinking cursor
@keyframes pulse {
  0% {
    opacity: 0%;
  }
  50% {
    opacity: 100%;
  }
}
.blink {
  animation: pulse 1.25s steps(1) infinite;
}

// Pseudoconsole
.console {
  font-family: monospace;
  margin: auto;
  position:relative;
  top:15vh;
  max-width: 800px; 
  min-height: 475px;
  background-color: #2C001E;
  font-size: $type-size-6;
}

.skip-animation {
  margin: auto;
  padding: 0;
  position: absolute;
  bottom: 10px;
  right: 1rem;
}
