@keyframes pulse {
  0% {
    opacity: 0%;
  }
  
  50% {
    opacity: 100%;
  }
}

.blink {
    animation: pulse 1.25s steps(1) infinite;
}


$theme-colors: (
  "primary": #689DCF,
  "secondary": #8ADF32,
  "console": #00FF00,
  "dark": #2C001E,
  "background": #161616,
);

@import "../bootstrap/scss/bootstrap";


