<div class="card border-0 my-5">
  <video class="card-img-top" align="center" height="100%" autoplay="true" loop muted>
    <source src="http://timfishstatic.s3.us-east-2.amazonaws.com/media/output.mp4" type="video/mp4">
  </video>
  <div class="card-body">
    <h5 class="card-title text-monospace bg-dark text-light">
      <span class="text-secondary">&nbsp;&gt;&nbsp;</span>
        <a class="internal-nav" href="{{ kepler_url }}">kepler.py</a>
      <span class="blink">&#9608;</span>
    </h5>
    <p class="card-text lead mb-1">Keplerian orbits for exoplanet transits.</p>
    <p class="card-text text-muted">This project was done for extra credit for my Intro to Astronomy class.</p>
  </div>
</div>