<div class="card border-0 my-5">
  <video class="card-img-top" align="center" height="100%" autoplay="true" loop muted>
    <source src="http://timfishstatic.s3.us-east-2.amazonaws.com/media/output.mp4" type="video/mp4">
  </video>
  <div class="card-body">
    <h5 class="card-title text-monospace bg-dark text-light"><span class="text-secondary">&nbsp;&gt;&nbsp;</span>kepler.py<span class="blink">&#9608;</span></h4>
    <p class="card-text">A quick project that simulates planet transits. All of the 3d geometry was done by hand.</p>
  </div>
</div>