<div class="card border-0 mb-5">
  <img class="card-img-top" src="http://timfishstatic.s3.us-east-2.amazonaws.com/media/splat.png" alt="plat.png">
  <div class="card-body">
    <h5 class="card-title text-monospace bg-dark text-light"><span class="text-secondary">&nbsp;&gt;&nbsp;</span>omnichrome.py<span class="blink">&#9608;</span></h4>
    <p class="card-text lead mb-1">Programmatically produced psychedelic pictures with polychromatic pixels.</p>
    <p class="card-text text-muted">Each pixel is a unique color; all of more than two-million colors are represented.</p>
  </div>
</div>